
@{
    ViewBag.Title = "Hoạt động trên hệ thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content px-8 py-4">
    <h3 class="mb-5">Hoạt động trên hệ thống</h3>
    <h5 class="text-body-emphasis mb-3">Today</h5>
    <div class="mx-n4 mx-lg-n6 mb-5 border-bottom">
        <div class="d-flex align-items-center justify-content-between py-3 px-lg-6 px-4 notification-card border-top read">
            <div class="d-flex">
                <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="~/assets/img/system/default_logo.jpg" alt="" /></div>
                <div class="me-3 flex-1 mt-2">
                    <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                    <p class="fs-9 text-body-highlight"><span class='me-1'>💬</span>Mentioned you in a comment<span class="fw-bold"> &quot;Well done! Proud of you ❤️ &quot; </span><span class="ms-2 text-body-tertiary text-opacity-85 fw-bold fs-10">10m</span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:41 AM </span>August 7,2021</p>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-3 px-lg-6 px-4 notification-card border-top unread">
            <div class="d-flex">
                <div class="avatar avatar-xl me-3">
                    <div class="avatar-name rounded-circle"><span>J</span></div>
                </div>
                <div class="me-3 flex-1 mt-2">
                    <h4 class="fs-9 text-body-emphasis">Jane Foster</h4>
                    <p class="fs-9 text-body-highlight"><span class='me-1'>📅</span>Created an event<span class="fw-bold"> Rome holidays</span><span class="ms-2 text-body-tertiary text-opacity-85 fw-bold fs-10">20m</span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:20 AM </span>August 7,2021</p>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-3 px-lg-6 px-4 notification-card border-top unread">
            <div class="d-flex">
                <div class="avatar avatar-xl me-3"><img class="rounded-circle avatar-placeholder" src="~/assets/img/system/default_logo.jpg" alt="" /></div>
                <div class="me-3 flex-1 mt-2">
                    <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                    <p class="fs-9 text-body-highlight"><span class='me-1'>👍</span>Liked your comment<span class="fw-bold"> &quot;Amazing Works️&quot;</span><span class="ms-2 text-body-tertiary text-opacity-85 fw-bold fs-10">1h</span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:30 AM </span>August 7,2021</p>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
        </div>
    </div>
    <h5 class="text-semibold text-body-emphasis mb-3">Yesterday</h5>
    <div class="mx-n4 mx-lg-n6 mb-9 border-bottom">
        <div class="d-flex align-items-center justify-content-between py-3 px-lg-6 px-4 notification-card border-top unread">
            <div class="d-flex">
                <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="~/assets/img/system/default_logo.jpg" alt="" /></div>
                <div class="me-3 flex-1 mt-2">
                    <h4 class="fs-9 text-body-emphasis">Kiera Anderson</h4>
                    <p class="fs-9 text-body-highlight"><span class='me-1'>💬</span>Mentioned you in a comment<span class="fw-bold"> &quot;This is too good to be true!&quot;</span><span class="ms-2 text-body-tertiary text-opacity-85 fw-bold fs-10"></span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:11 AM </span>August 7,2021</p>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-3 px-lg-6 px-4 notification-card border-top unread">
            <div class="d-flex">
                <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="~/assets/img/system/default_logo.jpg" alt="" /></div>
                <div class="me-3 flex-1 mt-2">
                    <h4 class="fs-9 text-body-emphasis">Herman Carter</h4>
                    <p class="fs-9 text-body-highlight"><span class='me-1'>👤</span>Tagged you in a<span class="fw-bold"> post</span><span class="ms-2 text-body-tertiary text-opacity-85 fw-bold fs-10"></span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:58 PM </span>August 7,2021</p>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-3 px-lg-6 px-4 notification-card border-top read">
            <div class="d-flex">
                <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="~/assets/img/system/default_logo.jpg" alt="" /></div>
                <div class="me-3 flex-1 mt-2">
                    <h4 class="fs-9 text-body-emphasis">Benjamin Button</h4>
                    <p class="fs-9 text-body-highlight"><span class='me-1'>👍</span>Liked your comment<span class="fw-bold"> &quot;Welcome to the team️&quot;</span><span class="ms-2 text-body-tertiary text-opacity-85 fw-bold fs-10"></span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:18 AM </span>August 7,2021</p>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-3 px-lg-6 px-4 notification-card border-top read">
            <div class="d-flex">
                <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="~/assets/img/system/default_logo.jpg" alt="" /></div>
                <div class="me-3 flex-1 mt-2">
                    <h4 class="fs-9 text-body-emphasis">Aron Paul</h4>
                    <p class="fs-9 text-body-highlight"><span class='me-1'>📷</span>Tagged you in a<span class="fw-bold"> photo</span><span class="ms-2 text-body-tertiary text-opacity-85 fw-bold fs-10"></span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:53 AM </span>August 7,2021</p>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-3 px-lg-6 px-4 notification-card border-top read">
            <div class="d-flex">
                <div class="avatar avatar-xl me-3"><img class="rounded-circle" src="~/assets/img/system/default_logo.jpg" alt="" /></div>
                <div class="me-3 flex-1 mt-2">
                    <h4 class="fs-9 text-body-emphasis">Rick Sanchez</h4>
                    <p class="fs-9 text-body-highlight"><span class='me-1'>💬</span>Mentioned you in a comment<span class="fw-bold"> &quot;You need to see these amazing photos️&quot;</span><span class="ms-2 text-body-tertiary text-opacity-85 fw-bold fs-10"></span></p>
                    <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:45 AM </span>August 7,2021</p>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none notification-dropdown-toggle" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
            </div>
        </div>
    </div>
</div>
