
@{
    ViewBag.Title = "SystemConfig";
}

@section styles{
    <link href="~/vendors/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/vendors/choices/choices.min.css" rel="stylesheet">
    <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
}

<div class="content px-8 pt-5">
    <div class="mb-0">
        <div class="row g-3 flex-between-end mb-3">
            <div class="col-auto">
                <h3 class="mb-2">Cài đặt thông tin website</h3>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-12 col-xl-8">
                <h4 class="mb-3">Tên viết tắt</h4>
                <input class="form-control mb-5" type="text" maxlength="50" placeholder="Tên viết tắt..." />

                <h4 class="mb-3">Tên đầy đủ</h4>
                <input class="form-control mb-5" type="text" maxlength="255" placeholder="Tên đầy đủ..." />

                <div class="mb-6">
                    <h4 class="mb-3">Mô tả ngắn về tổ chức</h4>
                    <textarea class="form-control" rows="5" name="content" placeholder="Mô tả..."></textarea>
                </div>

                <h4 class="mb-3">Logo tổ chức</h4>
                <div class="dropzone dropzone-multiple p-0 mb-5" id="my-awesome-dropzone" data-dropzone="data-dropzone">
                    <div class="fallback"><input name="file" type="file" multiple="multiple" /></div>
                    <div class="dz-preview d-flex flex-wrap">
                        <div class="border border-translucent bg-body-emphasis rounded-3 d-flex flex-center position-relative me-2 mb-2" style="height:80px;width:80px;">
                            <img class="dz-image" src="~/assets/img/system/default_logo.jpg" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
                            <a class="dz-remove text-body-quaternary" href="#!" data-dz-remove="data-dz-remove">
                                <span data-feather="x"></span>
                            </a>
                        </div>
                    </div>
                    <div class="dz-message text-body-tertiary text-opacity-85" data-dz-message="data-dz-message">Drag your photo here<span class="text-body-secondary px-1">or</span><button class="btn btn-link p-0" type="button">Browse from device</button><br /><img class="mt-3 me-2" src="~/assets/img/icons/image-icon.png" width="40" alt="" /></div>
                </div>

                <h4 class="mb-3">Banner giới thiệu</h4>
                <div class="dropzone dropzone-multiple p-0 mb-5" id="my-awesome-dropzone" data-dropzone="data-dropzone">
                    <div class="fallback"><input name="file" type="file" multiple="multiple" /></div>
                    <div class="dz-preview d-flex flex-wrap">
                        <div class="border border-translucent bg-body-emphasis rounded-3 d-flex flex-center position-relative me-2 mb-2" style="height:80px;width:80px;">
                            <img class="dz-image" src="~/assets/img/system/default_logo.jpg" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
                            <a class="dz-remove text-body-quaternary" href="#!" data-dz-remove="data-dz-remove">
                                <span data-feather="x"></span>
                            </a>
                        </div>
                    </div>
                    <div class="dz-message text-body-tertiary text-opacity-85" data-dz-message="data-dz-message">Drag your photo here<span class="text-body-secondary px-1">or</span><button class="btn btn-link p-0" type="button">Browse from device</button><br /><img class="mt-3 me-2" src="~/assets/img/icons/image-icon.png" width="40" alt="" /></div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row g-2">
                    <div class="col-12 col-xl-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Thông tin liên hệ</h4>
                                <div class="row gx-3">
                                    <div class="col-12 col-sm-6 col-xl-12">
                                        <div class="mb-4">
                                            <h5 class="mb-2 text-body-highlight">Số điện thoại</h5>
                                            <input class="form-control mb-xl-3" maxlength="10" type="text" placeholder="Số điện thoại" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-xl-12">
                                        <div class="mb-4">
                                            <h5 class="mb-2 text-body-highlight">Email</h5>
                                            <input class="form-control mb-xl-3" type="email" placeholder="Email" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-xl-12">
                                        <div class="mb-4">
                                            <h5 class="mb-2 text-body-highlight">Địa chỉ</h5>
                                            <textarea class="form-control mb-xl-3" rows="3" placeholder="Địa chỉ"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Cài đặt khác</h4>
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6 col-xl-12">
                                        <div class="mb-4">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" id="allowShowNotification" type="checkbox" checked="checked" name="allowShowNotification" />
                                                <label class="form-check-label fs-8" for="allowShowNotification">Hiện thị thông báo đẩy</label>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" id="allowAccess" type="checkbox" checked="checked" name="allowAccess" />
                                                <label class="form-check-label fs-8" for="allowAccess">Cho phép truy cập trang web</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex p-3 col-xl-8">
            <button class="btn btn-primary mb-2 mb-sm-0 w-auto ms-auto" type="button">
                <span data-feather="refresh-ccw" class="me-2"></span>
                Cập nhật
            </button>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/vendors/tinymce/tinymce.min.js"></script>
    <script src="~/vendors/dropzone/dropzone-min.js"></script>
    <script src="~/vendors/choices/choices.min.js"></script>
    <script src="~/vendors/flatpickr/flatpickr.min.js"></script>
}

