
@{
    ViewBag.Title = "UserManagement";
}

<div class="content pt-4 px-8">
    <h3 class="text-bold text-body-emphasis mb-5">Quản lý người dùng</h3>
    <div id="members" data-list='{"valueNames":["customer","email","mobile_number","city","last_active","joined"],"page":10,"pagination":true}'>
        <div class="row align-items-center justify-content-between g-3 mb-4">
            <div class="col col-auto">
                <div class="search-box">
                    <form class="position-relative">
                        <input class="form-control search-input search" type="search" placeholder="Search members" aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex align-items-center"><button class="btn btn-link text-body me-4 px-0"><span class="fa-solid fa-file-export fs-9 me-2"></span>Export</button><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDealModal" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-plus me-2"></span>Add member</button></div>
            </div>
        </div>
        <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-body-emphasis border-y mt-2 position-relative top-1">
            <div class="table-responsive scrollbar ms-n1 ps-1">
                <table class="table table-sm fs-9 mb-0">
                    <thead>
                        <tr>
                            <th class="white-space-nowrap fs-9 align-middle ps-0">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" id="checkbox-bulk-members-select" type="checkbox" data-bulk-select='{"body":"members-table-body"}' /></div>
                            </th>
                            <th class="sort align-middle" scope="col" data-sort="customer" style="width:15%; min-width:200px;">CUSTOMER</th>
                            <th class="sort align-middle" scope="col" data-sort="email" style="width:15%; min-width:200px;">EMAIL</th>
                            <th class="sort align-middle pe-3" scope="col" data-sort="mobile_number" style="width:20%; min-width:200px;">MOBILE NUMBER</th>
                            <th class="sort align-middle" scope="col" data-sort="city" style="width:10%;">CITY</th>
                            <th class="sort align-middle text-end" scope="col" data-sort="last_active" style="width:21%;  min-width:200px;">LAST ACTIVE</th>
                            <th class="sort align-middle text-end pe-0" scope="col" data-sort="joined" style="width:19%;  min-width:200px;">JOINED</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="members-table-body">
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/32.webp","name":"Carry Anna"},"email":"annac34@gmail.com","mobile":"+912346578","city":"Budapest","lastActive":"34 min ago","joined":"Dec 12, 12:56 PM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/32.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Carry Anna</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:annac34@gmail.com">annac34@gmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+912346578">+912346578</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Budapest</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">34 min ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Dec 12, 12:56 PM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/avatar.webp","name":"Milind Mikuja","placeholder":true},"email":"mimiku@yahoo.com","mobile":"+8801564768976","city":"Manchester","lastActive":"6 hours ago","joined":"Dec 9, 2:28 PM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle avatar-placeholder" src="../assets/img/team/avatar.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Milind Mikuja</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:mimiku@yahoo.com">mimiku@yahoo.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+8801564768976">+8801564768976</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Manchester</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">6 hours ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Dec 9, 2:28 PM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/35.webp","name":"Stanly Drinkwater"},"email":"stnlwasser@hotmail.com","mobile":"+78675436798","city":"Smallville","lastActive":"43 min ago","joined":"Dec 4, 12:56 PM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/35.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Stanly Drinkwater</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:stnlwasser@hotmail.com">stnlwasser@hotmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+78675436798">+78675436798</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Smallville</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">43 min ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Dec 4, 12:56 PM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/57.webp","name":"Josef Stravinsky"},"email":"Josefsky@sni.it","mobile":"+118796567894","city":"Metropolis","lastActive":"2 hours ago","joined":"Dec 1,  4:07 AM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/57.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Josef Stravinsky</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:Josefsky@sni.it">Josefsky@sni.it</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+118796567894">+118796567894</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Metropolis</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">2 hours ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Dec 1, 4:07 AM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/58.webp","name":"Igor Borvibson"},"email":"vibigorr@technext.it","mobile":"+65899655678","city":"Central city","lastActive":"5 days ago","joined":"Nov 28, 7:28 PM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/58.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Igor Borvibson</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:vibigorr@technext.it">vibigorr@technext.it</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+65899655678">+65899655678</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Central city</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">5 days ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Nov 28, 7:28 PM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/59.webp","name":"Katerina Karenin"},"email":"karkat99@gmail.com","mobile":"+00564327890","city":"Gotham","lastActive":"2 weeks ago","joined":"Nov 24, 10:16 AM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/59.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Katerina Karenin</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:karkat99@gmail.com">karkat99@gmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+00564327890">+00564327890</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Gotham</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">2 weeks ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Nov 24, 10:16 AM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"","name":"Roy Anderson"},"email":"andersonroy@netflix.chill","mobile":"+55890776","city":"Vancouver","lastActive":"4 days ago","joined":"Nov 18, 5:43 PM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m">
                                        <div class="avatar-name rounded-circle"><span>R</span></div>
                                    </div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Roy Anderson</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:andersonroy@netflix.chill">andersonroy@netflix.chill</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+55890776">+55890776</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Vancouver</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">4 days ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Nov 18, 5:43 PM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/31.webp","name":"Martina scorcese"},"email":"cesetina1@gmail.com","mobile":"+666611896","city":"Viena","lastActive":"6 min ago","joined":"Nov 18, 2:09 AM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/31.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Martina scorcese</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:cesetina1@gmail.com">cesetina1@gmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+666611896">+666611896</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Viena</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">6 min ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Nov 18, 2:09 AM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/33.webp","name":"Luis Bunuel"},"email":"luisuel@live.com","mobile":"+55786534","city":"Bangalore","lastActive":"56 min ago","joined":"Nov 16, 3:22 PM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/33.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Luis Bunuel</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:luisuel@live.com">luisuel@live.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+55786534">+55786534</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Bangalore</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">56 min ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Nov 16, 3:22 PM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/34.webp","name":"Jean Renoir"},"email":"renoirjean1836@gmail.com","mobile":"+8801765458767","city":"Chittagong","lastActive":"Yesterday","joined":"Nov 09, 8:49 AM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/34.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Jean Renoir</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:renoirjean1836@gmail.com">renoirjean1836@gmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+8801765458767">+8801765458767</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Chittagong</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">Yesterday</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Nov 09, 8:49 AM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/29.webp","name":"Ricky Antony"},"email":"ricky@example.com","mobile":"+2012001851","city":"New Jersey","lastActive":"1 hour ago","joined":"Oct 19, 8:00 AM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/29.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Ricky Antony</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:ricky@example.com">ricky@example.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+2012001851">+2012001851</a></td>
                            <td class="city align-middle white-space-nowrap text-body">New Jersey</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">1 hour ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Oct 19, 8:00 AM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/3.webp","name":"Emma Watson"},"email":"emma@example.com","mobile":"+2122288403","city":"New York","lastActive":"6 hours ago","joined":"Oct 15, 12:00 PM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/3.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Emma Watson</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:emma@example.com">emma@example.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+2122288403">+2122288403</a></td>
                            <td class="city align-middle white-space-nowrap text-body">New York</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">6 hours ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Oct 15, 12:00 PM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/avatar.webp","name":"Jennifer Schramm","placeholder":true},"email":"jennifer@example.com","mobile":"+8283829631","city":"Charlotte","lastActive":"12 hours ago","joined":"Oct 12, 11:00 AM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle avatar-placeholder" src="../assets/img/team/avatar.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Jennifer Schramm</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:jennifer@example.com">jennifer@example.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+8283829631">+8283829631</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Charlotte</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">12 hours ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Oct 12, 11:00 AM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/32.webp","name":"Raymond Mims"},"email":"raymond@example.com","mobile":"+5624685646","city":"Artesia","lastActive":"2 day ago","joined":"Oct 10, 8:30 AM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/32.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Raymond Mims</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:raymond@example.com">raymond@example.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+5624685646">+5624685646</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Artesia</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">2 day ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Oct 10, 8:30 AM</td>
                        </tr>
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs-9 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-8"><input class="form-check-input" type="checkbox" data-bulk-select-row='{"customer":{"avatar":"/team/25.webp","name":"Michael Jenkins"},"email":"jenkins@example.com","mobile":"+3026138829","city":"Philadelphia","lastActive":"12 hours ago","joined":"Oct 3, 8:30 AM"}' /></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap">
                                <a class="d-flex align-items-center text-body text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../assets/img/team/25.webp" alt="" /></div>
                                    <h6 class="mb-0 ms-3 fw-semibold">Michael Jenkins</h6>
                                </a>
                            </td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semibold" href="mailto:jenkins@example.com">jenkins@example.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-body-emphasis" href="tel:+3026138829">+3026138829</a></td>
                            <td class="city align-middle white-space-nowrap text-body">Philadelphia</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-body-tertiary">12 hours ago</td>
                            <td class="joined align-middle white-space-nowrap text-body-tertiary text-end">Oct 3, 8:30 AM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDealModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addDealModal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-body-highlight p-6">
            <div class="modal-header justify-content-between border-0 p-0 mb-2">
                <h3 class="mb-0">Thông tin tài khoản mới</h3><button class="btn btn-sm btn-phoenix-secondary" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times text-danger"></span></button>
            </div>
            <div class="modal-body px-0">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2">Deal Owner</label><select class="form-select">
                                <option>Select</option>
                                <option>Ally Aagaard</option>
                                <option>Aida Moen</option>
                                <option>Niko Koss</option>
                                <option>Alec Haag</option>
                                <option>Lonnie Kub</option>
                                <option>Ola Smith</option>
                            </select>
                        </div>
                        <div class="mb-4"><label class="text-body-highlight fw-bold mb-2">Deal Name</label><input class="form-control" type="text" placeholder="Enter deal name" /></div>
                        <div class="mb-4">
                            <div class="row g-3">
                                <div class="col-sm-6 col-lg-12 col-xl-6">
                                    <label class="text-body-highlight fw-bold mb-2">Deal Amount</label>
                                    <div class="row g-2">
                                        <div class="col"><input class="form-control" type="number" placeholder="$ Enter amount" /></div>
                                        <div class="col-auto">
                                            <select class="form-select">
                                                <option>USD</option>
                                                <option>GBP</option>
                                                <option>EUR</option>
                                                <option>JPY</option>
                                                <option>CAD</option>
                                                <option>AUD</option>
                                                <option>CNY</option>
                                                <option>CHF</option>
                                                <option>ZAR</option>
                                                <option>BRL</option>
                                                <option>RUB</option>
                                                <option>INR</option>
                                                <option>MXN</option>
                                                <option>NZD</option>
                                                <option>SGD</option>
                                                <option>HKD</option>
                                                <option>KRW</option>
                                                <option>SEK</option>
                                                <option>NOK</option>
                                                <option>TRY</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4"><label class="text-body-highlight fw-bold mb-2">Deal Code</label><input class="form-control" type="text" placeholder="Enter deals code" /></div>
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2">Deal Type<button class="btn btn-link p-0 ms-3"><span class="fa-solid fa-plus me-1"></span><span>Add new</span></button></label><select class="form-select">
                                <option>Select</option>
                                <option>Buy One Get One Free</option>
                                <option>Clearance sale</option>
                                <option>Bundle deals</option>
                                <option>Free shipping</option>
                                <option>Loyalty programs</option>
                                <option>Limited-time offers</option>
                                <option>Refer-a-friend discounts</option>
                                <option>Seasonal sales</option>
                                <option>Membership discounts</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2">Category<button class="btn btn-link p-0 ms-3"><span class="fa-solid fa-plus me-1"></span><span>Add new</span></button></label><select class="form-select">
                                <option>Select</option>
                                <option>Financial</option>
                                <option>Marketplace</option>
                                <option>Travel</option>
                                <option>E-commerce</option>
                                <option>Cloud Computing</option>
                            </select>
                        </div>
                        <div class="mb-4"><label class="text-body-highlight fw-bold mb-2">Probability (%)</label><input class="form-control" type="text" placeholder="Enter value" /></div>
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2">Expected Revenue</label>
                            <div class="row g-2">
                                <div class="col"><input class="form-control" type="number" placeholder="$ Enter amount" /></div>
                                <div class="col-auto">
                                    <select class="form-select">
                                        <option>USD</option>
                                        <option>GBP</option>
                                        <option>EUR</option>
                                        <option>JPY</option>
                                        <option>CAD</option>
                                        <option>AUD</option>
                                        <option>CNY</option>
                                        <option>CHF</option>
                                        <option>ZAR</option>
                                        <option>BRL</option>
                                        <option>RUB</option>
                                        <option>INR</option>
                                        <option>MXN</option>
                                        <option>NZD</option>
                                        <option>SGD</option>
                                        <option>HKD</option>
                                        <option>KRW</option>
                                        <option>SEK</option>
                                        <option>NOK</option>
                                        <option>TRY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-4"><label class="text-body-highlight fw-bold mb-2">Contact Name</label><input class="form-control" type="text" placeholder="Enter contact name" /></div>
                        <div class="mb-4">
                            <div class="row g-3">
                                <div class="col-6"><label class="text-body-highlight fw-bold mb-2">Phone Number</label><input class="form-control" type="text" placeholder="Enter phone number" /></div>
                                <div class="col-6"><label class="text-body-highlight fw-bold mb-2">Email Address</label><input class="form-control" type="text" placeholder="Enter email address" /></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2">Lead Source<button class="btn btn-link p-0 ms-3"><span class="fa-solid fa-plus me-1"></span><span>Add new</span></button></label><select class="form-select">
                                <option>Select</option>
                                <option>Referrals</option>
                                <option>Former Clients</option>
                                <option>Competitors</option>
                                <option>Business & sales</option>
                                <option>Google resources</option>
                                <option>Linkedin</option>
                                <option>Marketing</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2">Campaign Source<button class="btn btn-link p-0 ms-3"><span class="fa-solid fa-plus me-1"></span><span>Add new</span></button></label><select class="form-select">
                                <option>Select</option>
                                <option>Online Campaign</option>
                                <option>Offline Campaign</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label class="text-body-highlight fw-bold mb-2">Time Zone</label><select class="form-select">
                                <option>GMT-12:00 Etc/GMT-12</option>
                                <option>GMT-11:00 Etc/GMT-11</option>
                                <option>GMT-11:00 Pacific/Midway</option>
                                <option>GMT-10:00 America/Adak</option>
                                <option>GMT-09:00 America/Anchorage</option>
                                <option>GMT-09:00 Pacific/Gambier</option>
                                <option>GMT-08:00 America/Dawson_Creek</option>
                                <option>GMT-08:00 America/Ensenada</option>
                                <option>GMT-08:00 America/Los_Angeles</option>
                                <option>GMT-07:00 America/Chihuahua</option>
                                <option>GMT-07:00 America/Denver</option>
                                <option>GMT-06:00 America/Belize</option>
                                <option>GMT-06:00 America/Cancun</option>
                                <option>GMT-06:00 America/Chicago</option>
                                <option>GMT-06:00 Chile/EasterIsland</option>
                                <option>GMT-05:00 America/Bogota</option>
                                <option>GMT-05:00 America/Havana</option>
                                <option>GMT-05:00 America/New_York</option>
                                <option>GMT-04:30 America/Caracas</option>
                                <option>GMT-04:00 America/Campo_Grande</option>
                                <option>GMT-04:00 America/Glace_Bay</option>
                                <option>GMT-04:00 America/Goose_Bay</option>
                                <option>GMT-04:00 America/Santiago</option>
                                <option>GMT-04:00 America/La_Paz</option>
                                <option>GMT-03:00 America/Argentina/Buenos_Aires</option>
                                <option>GMT-03:00 America/Montevideo</option>
                                <option>GMT-03:00 America/Araguaina</option>
                                <option>GMT-03:00 America/Godthab</option>
                                <option>GMT-03:00 America/Miquelon</option>
                                <option>GMT-03:00 America/Sao_Paulo</option>
                                <option>GMT-03:30 America/St_Johns</option>
                                <option>GMT-02:00 America/Noronha</option>
                                <option>GMT-01:00 Atlantic/Cape_Verde</option>
                                <option>GMT Europe/Belfast</option>
                                <option>GMT Africa/Abidjan</option>
                                <option>GMT Europe/Dublin</option>
                                <option>GMT Europe/Lisbon</option>
                                <option>GMT Europe/London</option>
                                <option>UTC UTC</option>
                                <option>GMT+01:00 Africa/Algiers</option>
                                <option>GMT+01:00 Africa/Windhoek</option>
                                <option>GMT+01:00 Atlantic/Azores</option>
                                <option>GMT+01:00 Atlantic/Stanley</option>
                                <option>GMT+01:00 Europe/Amsterdam</option>
                                <option>GMT+01:00 Europe/Belgrade</option>
                                <option>GMT+01:00 Europe/Brussels</option>
                                <option>GMT+02:00 Africa/Cairo</option>
                                <option>GMT+02:00 Africa/Blantyre</option>
                                <option>GMT+02:00 Asia/Beirut</option>
                                <option>GMT+02:00 Asia/Damascus</option>
                                <option>GMT+02:00 Asia/Gaza</option>
                                <option>GMT+02:00 Asia/Jerusalem</option>
                                <option>GMT+03:00 Africa/Addis_Ababa</option>
                                <option>GMT+03:00 Asia/Riyadh89</option>
                                <option>GMT+03:00 Europe/Minsk</option>
                                <option>GMT+03:30 Asia/Tehran</option>
                                <option>GMT+04:00 Asia/Dubai</option>
                                <option>GMT+04:00 Asia/Yerevan</option>
                                <option>GMT+04:00 Europe/Moscow</option>
                                <option>GMT+04:30 Asia/Kabul</option>
                                <option>GMT+05:00 Asia/Tashkent</option>
                                <option>GMT+05:30 Asia/Kolkata</option>
                                <option>GMT+05:45 Asia/Katmandu</option>
                                <option>GMT+06:00 Asia/Dhaka</option>
                                <option>GMT+06:00 Asia/Yekaterinburg</option>
                                <option>GMT+06:30 Asia/Rangoon</option>
                                <option>GMT+07:00 Asia/Bangkok</option>
                                <option>GMT+07:00 Asia/Novosibirsk</option>
                                <option>GMT+08:00 Etc/GMT+8</option>
                                <option>GMT+08:00 Asia/Hong_Kong</option>
                                <option>GMT+08:00 Asia/Krasnoyarsk</option>
                                <option>GMT+08:00 Australia/Perth</option>
                                <option>GMT+08:45 Australia/Eucla</option>
                                <option>GMT+09:00 Asia/Irkutsk</option>
                                <option>GMT+09:00 Asia/Seoul</option>
                                <option>GMT+09:00 Asia/Tokyo</option>
                                <option>GMT+09:30 Australia/Adelaide</option>
                                <option>GMT+09:30 Australia/Darwin</option>
                                <option>GMT+09:30 Pacific/Marquesas</option>
                                <option>GMT+10:00 Etc/GMT+10</option>
                                <option>GMT+10:00 Australia/Brisbane</option>
                                <option>GMT+10:00 Australia/Hobart</option>
                                <option>GMT+10:00 Asia/Yakutsk</option>
                                <option>GMT+10:30 Australia/Lord_Howe</option>
                                <option>GMT+11:00 Asia/Vladivostok</option>
                                <option>GMT+11:30 Pacific/Norfolk</option>
                                <option>GMT+12:00 Etc/GMT+12</option>
                                <option>GMT+12:00 Asia/Anadyr</option>
                                <option>GMT+12:00 Asia/Magadan</option>
                                <option>GMT+12:00 Pacific/Auckland</option>
                                <option>GMT+12:45 Pacific/Chatham</option>
                                <option>GMT+13:00 Pacific/Tongatapu</option>
                                <option>GMT+14:00 Pacific/Kiritimati</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <div class="row g-3">
                                <div class="col-6"><label class="text-body-highlight fw-bold mb-2">Create Date</label><input class="form-control datetimepicker" type="text" placeholder="dd / mm / yyyy" data-options='{"disableMobile":true}' /></div>
                                <div class="col-6"><label class="text-body-highlight fw-bold mb-2">Start Time</label><input class="form-control datetimepicker" type="text" placeholder="H:i" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}' /></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="row g-3">
                                <div class="col-6"><label class="text-body-highlight fw-bold mb-2">Closing Date</label><input class="form-control datetimepicker" type="text" placeholder="dd / mm / yyyy" data-options='{"disableMobile":true}' /></div>
                                <div class="col-6"><label class="text-body-highlight fw-bold mb-2">Closing Time</label><input class="form-control datetimepicker" type="text" placeholder="H:i" data-options='{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}' /></div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="text-body-highlight fw-bold mb-2">Stage</label><select class="form-select">
                                    <option>Select</option>
                                    <option>New</option>
                                    <option>In Progress</option>
                                    <option>Pending</option>
                                    <option>Canceled</option>
                                    <option>Completed</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="text-body-highlight fw-bold mb-2">Priority</label><select class="form-select">
                                    <option>Urgent</option>
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 pt-6 px-0 pb-0"><button class="btn btn-link text-danger px-3 my-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button><button class="btn btn-primary my-0">Create Member</button></div>
        </div>
    </div>
</div>

