@{
    ViewBag.Title = "Bảng điều khiển";
    Layout = "~/Views/Shared/_LayoutExaminer.cshtml"; // Sử dụng layout của Examiner
}

<h2>Chào mừng Examiner!</h2>
<p>
    Đây là trang tổng quan dành cho Examiner.
</p>