@using BIIC_Contest.Dtos

@{
    ViewBag.Title = "CreateNews";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


    List<CategoryDto> categories = ViewBag.categories;
}

@section styles{
    <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link href="~/vendors/choices/choices.min.css" rel="stylesheet">

}

<form class="mb-9">
    <div class="row justify-content-between align-items-end g-3 mb-5">
        <div class="col-12 col-sm-auto col-xl-8">
            <h2 class="mb-0">Tạo bài viết</h2>
        </div>
        <div class="col-12 col-sm-auto col-xl-4">
            <div class="d-flex">
                <button class="btn btn-primary px-5 w-100 text-nowrap" type="button">Đăng bài viết</button>
            </div>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-xl-12">
            <div class="row gx-3 gy-4">
                <h4 class="fs-7 mb-0">Thông tin chi tiết bài viết</h4>
                <div class="col-sm-6 col-md-12">
                    <div class="form-floating">
                        <input class="form-control" id="floatingEventInput" type="text" placeholder="Tiêu đề bài viết" />
                        <label for="floatingEventInput">Tiêu đề bài viết</label>
                    </div>
                </div>
                <div class="col-12 gy-6">
                    <h4 class="fs-7">Nội dung bài viết</h4>
                    <div class="form-floating">
                        <textarea id="content" style="height: 500px" class="form-control tinymce" name="content"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="d-flex flex-wrap mb-2">
                        <h4 class="mb-0 text-body-highlight me-2">Danh mục</h4><a class="fw-bold fs-9" href="#modal-add-new-category" data-bs-toggle="modal">Thêm danh mục mới</a>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectPrivacy">
                            @if (categories == null)
                            {
                                <option selected="selected">Danh mục rỗng!</option>
                            }
                            else
                            {
                                foreach (var category in categories)
                                {
                                    <option value="@category.Id">@category.CategoryName</option>
                                }
                            }
                        </select>
                        <label for="floatingSelectPrivacy">Danh mục bài viết</label>
                    </div>
                </div>
                <div class="col-12 gy-6">
                    <h4 class="fs-7">Banner bài viết</h4>
                    <div class="dropzone dropzone-multiple p-0 mb-5" id="my-awesome-dropzone" data-dropzone="data-dropzone">
                        <div class="fallback"><input name="file" type="file" multiple="multiple" /></div>
                        <div class="dz-preview d-flex flex-wrap">
                            <div class="border border-translucent bg-body-emphasis rounded-3 d-flex flex-center position-relative me-2 mb-2" style="height:80px;width:80px;"><img class="dz-image" src="../../assets/img/products/23.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" /><a class="dz-remove text-body-quaternary" href="#!" data-dz-remove="data-dz-remove"><span data-feather="x"></span></a></div>
                        </div>
                        <div class="dz-message text-body-tertiary text-center" data-dz-message="data-dz-message"> Drag your photo here <span class="text-body-secondary">or </span><button class="btn btn-link p-0" type="button">Browse from device </button><br /><img class="mt-3 me-2" src="../../assets/img/icons/image-icon.png" width="40" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modal-add-new-category" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modal-add-new-category-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="modal-add-new-category-title">Thêm danh mục mới</h5>
                <button class="btn btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2">
                    <label class="form-label" for="category-name">Tên danh mục</label>
                    <input class="form-control" id="category-name" type="text" placeholder="Nhập tên danh mục mới" />
                    <div class="text-danger fs-9 text-validate" hidden="hidden">Vui lòng nhập tên của bạn trước khi chat</div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="description">Mô tả</label>
                    <textarea rows="4" class="form-control" id="description" placeholder="Mô tả danh mục (có thể bỏ trống)"></textarea>
                </div>
                
            </div>
            
            <div class="modal-footer">
                <div class="alert alert-subtle-success w-100 category-notification" hidden role="alert">A simple primary alert—check it out!</div>
                <button class="btn btn-primary justify-content-end" onclick="addCategory(this)" type="button">Thêm danh mục</button>
                <button class="btn btn-primary" id="btn-spinner" hidden type="button"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Đang thêm danh mục...</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/vendors/choices/choices.min.js"></script>
    <script src="~/vendors/dropzone/dropzone-min.js"></script>
    <script src="~/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/knomrrtoejbhyvpv9jjulyqaj0ndmqzvy2dxq64mr7co0wz8/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#content',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>

    <script>
        function addCategory(btn) {
            const btnSpinner = document.getElementById('btn-spinner')
            const categoryNameEl = document.getElementById('category-name')
            const descriptionEl = document.getElementById('description')
            const notification = document.querySelector('.category-notification')

            categoryNameEl.disabled = true
            descriptionEl.disabled = true
            btn.disabled = true
            btn.hidden = true
            btnSpinner.hidden = false
            notification.hidden = false


            //call api


            setTimeout(() => {
                categoryNameEl.value = ""
                descriptionEl.value = ""
                categoryNameEl.disabled = false
                descriptionEl.disabled = false
                btn.disabled = false
                btn.hidden = false
                btnSpinner.hidden = true
                notification.hidden = true
            }, 3000)

          
        }
    </script>
}
