@using BIIC_Contest.Configs
@using BIIC_Contest.Dtos
@using BIIC_Contest.Constants
@using BIIC_Contest.Helpers
@{
    ViewBag.Title = "Liên hệ";
    var googleMapApiKey = "https://maps.googleapis.com/maps/api/js?key=" + GoogleMapConfig.GOOGLE_MAP_API_KEY + "&callback=initMap";
    SystemDto currentSystem = Session[SessionConstant.CURRENT_SYSTEM] as SystemDto;
}

@section styles{
}

<section class="bg-body-emphasis">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="row g-5 g-lg-5 mb-3">
            <div class="col-md-6 mb-5 mb-md-0 text-center text-md-start">
                <h3 class="mb-3">Hãy nối với chúng tôi ngay!</h3>
                <p class="mb-5">Hãy liên hệ với chúng tôi thông qua các phương thức liên lạc dưới đây. Chúng tôi sẽ hỗ trợ mọi thắc mắc của bạn mọi lúc mọi nơi.</p>
                <div class="d-flex flex-column align-items-center align-items-md-start gap-3 gap-md-0">
                    <div class="d-md-flex align-items-center">
                        <div class="icon-wrapper shadow-info"><span class="uil uil-phone text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                        <div class="flex-1 ms-3"><a class="link-900" href="tel:+871406-7509">@(PhoneNumberHelper.formatPhoneNumber(currentSystem.Phone))</a></div>
                    </div>
                    <div class="d-md-flex align-items-center">
                        <div class="icon-wrapper shadow-info"><span class="uil uil-envelope text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                        <div class="flex-1 ms-3"><a class="fw-semibold text-body" href="mailto:biic@email.com">@currentSystem.Email</a></div>
                    </div>
                    <div class="mb-6 d-md-flex align-items-center">
                        <div class="icon-wrapper shadow-info"><span class="uil uil-map-marker text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                        <div class="flex-1 ms-3"><a class="fw-semibold text-body" href="#!">@currentSystem.Address</a></div>
                    </div>
                    <div class="d-flex"><a href="#!"><span class="fa-brands fa-facebook fs-6 text-primary me-3"></span></a><a href="#!"><span class="fa-brands fa-twitter fs-6 text-primary me-3"></span></a><a href="#!"><span class="fa-brands fa-linkedin-in fs-6 text-primary"></span></a></div>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-start">
                <h3 class="mb-3">Liên hệ, góp ý tại đây</h3>
                <p class="mb-7">Nếu bạn có bất kỳ thắc mắc hoặc góp ý nào, chúng tôi luôn sẵn lòng lắng nghe, hãy trao đổi và liên hệ với chúng tôi bất cứ lúc nào.</p>
                <div class="row g-4">
                    <div class="col-12"><input class="form-control bg-body-emphasis" id="fullname" type="text" name="name" placeholder="Họ và tên" required="required" /></div>
                    <div class="col-12"><input class="form-control bg-body-emphasis" id="phone" type="text" name="phone" placeholder="Số điện thoại" required="required" /></div>
                    <div class="col-12"><input class="form-control bg-body-emphasis" id="email" type="email" name="email" placeholder="Email" required="required" /></div>
                    <div class="col-12"><textarea class="form-control bg-body-emphasis" id="message" rows="6" name="message" placeholder="Nội dung tin nhắn" required="required"></textarea></div>
                    <div class="col-12 d-grid">
                        <button class="btn btn-primary" onclick="sendContactMessage(this)" type="button">Gửi</button>
                        <button class="btn btn-primary" type="button" hidden id="btn-loading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Đang gửi...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-body-emphasis">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="card py-md-9 px-md-13 border-0 z-1 shadow-lg cta-card">
                    <div class="bg-holder" style="background-image:url(/assets/img/bg/bg-18.png);background-position:right;background-size:auto;"></div>
                    <div class="card-body position-relative p-0">
                        <div class="mb-3">
                            <h2 class="text-primary fw-bolder mb-3 text-center pt-3">Địa chỉ</h2>
                            <h4 class="text-start px-3">Nếu bạn cần tìm chúng tôi:</h4>
                        </div>
                        <p class="column-md-1 mw-100 text-start px-3">Vị trí của chúng tôi đã được hiện thị bên dưới. Bằng cách sử dụng bản đồ minh họa trực quan bên dưới, quý khách có thể dễ dàng đến văn phòng để được hỗ trợ và tư vấn trực tiếp.</p>
                        <div class="row">
                            <div class="w-75 p-0 mx-auto">
                                <div class="mapbox-container rounded-3 border overflow-hidden mt-3 mb-6">
                                    <div id="map" style="height: 381px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    @*google map*@
    <script>
        function initMap() {
            const location = { lat: 10.9863221, lng: 106.6761426 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 100,
                center: location,
            });

            const marker = new google.maps.Marker({
                position: location,
                map: map,
            });
        }
    </script>
    <script async defer src="@googleMapApiKey"></script>
    <script src="~/scripts/fetch-api.js"></script>
    <script src="~/scripts/get-ip.js"></script>
    <script src="~/scripts/show-notification.js"></script>
    <script>
        const btnLoading = document.getElementById("btn-loading");

        async function sendContactMessage(button) {
            btnLoading.hidden = false;
            button.hidden = true;
            const fullnameEl = document.querySelector('#fullname');
            const phoneEl = document.querySelector('#phone');
            const emailEl = document.querySelector('#email');
            const messageEl = document.querySelector('#message');

            fullnameEl.disabled = true;
            phoneEl.disabled = true;
            emailEl.disabled = true;
            messageEl.disabled = true;

            const fullname = fullnameEl.value;
            const phone = phoneEl.value;
            const email = emailEl.value;
            const message = messageEl.value;
            const ip = await getIP();
            const url = "/apis/v1/contact-message/save-contact-message"
            const postData = {
                fullname: fullname,
                email: email,
                phone: phone,
                message: message,
                ip: ip
            }

            const data = await postApi(url, postData);

            if (data.Success) {
                showSuccessContactNotification(data.Message)
            }

            if (!data.Success) {
                showErrorNotification(data.Message);
                fullnameEl.disabled = false;
                phoneEl.disabled = false;
                emailEl.disabled = false;
                messageEl.disabled = false;
            }

            btnLoading.hidden = true;
            button.hidden = false;
        }
    </script>
}

