@{
    ViewBag.Title = "Contact";
}


<section class="bg-body-emphasis">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="row g-5 g-lg-5 mb-3">
            <div class="col-md-6 mb-5 mb-md-0 text-center text-md-start">
                <h3 class="mb-3">Stay connected</h3>
                <p class="mb-5">Stay connected with BIIC's Help Center; BIIC is available for your necessities at all times.</p>
                <div class="d-flex flex-column align-items-center align-items-md-start gap-3 gap-md-0">
                    <div class="d-md-flex align-items-center">
                        <div class="icon-wrapper shadow-info"><span class="uil uil-phone text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                        <div class="flex-1 ms-3"><a class="link-900" href="tel:+871406-7509">(871) 406-7509</a></div>
                    </div>
                    <div class="d-md-flex align-items-center">
                        <div class="icon-wrapper shadow-info"><span class="uil uil-envelope text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                        <div class="flex-1 ms-3"><a class="fw-semibold text-body" href="mailto:biic@email.com">biic@email.com</a></div>
                    </div>
                    <div class="mb-6 d-md-flex align-items-center">
                        <div class="icon-wrapper shadow-info"><span class="uil uil-map-marker text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                        <div class="flex-1 ms-3"><a class="fw-semibold text-body" href="#!">39163 Amir Drive Suite 802</a></div>
                    </div>
                    <div class="d-flex"><a href="#!"><span class="fa-brands fa-facebook fs-6 text-primary me-3"></span></a><a href="#!"><span class="fa-brands fa-twitter fs-6 text-primary me-3"></span></a><a href="#!"><span class="fa-brands fa-linkedin-in fs-6 text-primary"></span></a></div>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-start">
                <h3 class="mb-3">Drop us a line</h3>
                <p class="mb-7">If you have any query or suggestion , we are open to learn from you, Lets talk, reach us anytime.</p>
                <form class="row g-4">
                    <div class="col-12"><input class="form-control bg-body-emphasis" type="text" name="name" placeholder="Name" required="required" /></div>
                    <div class="col-12"><input class="form-control bg-body-emphasis" type="email" name="email" placeholder="Email" required="required" /></div>
                    <div class="col-12"><textarea class="form-control bg-body-emphasis" rows="6" name="message" placeholder="Message" required="required"></textarea></div>
                    <div class="col-12 d-grid"><button class="btn btn-outline-primary" type="submit">Submit</button></div>
                    <div class="feedback"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="bg-body-emphasis pb-0">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="card py-md-9 px-md-13 border-0 z-1 shadow-lg cta-card">
                    <div class="bg-holder" style="background-image:url(../../assets/img/bg/bg-18.png);background-position:right;background-size:auto;"></div>
                    <div class="card-body position-relative p-0">
                        <div class="mb-3 text-center text-sm-start">
                            <h2 class="text-primary fw-bolder mb-3 text-center">Address</h2>
                            <h4>If you need to find us:</h4>
                        </div>
                        <p class="column-md-1">Do not lose your potential customers to others. Tell them exactly where you are with Geolocation enabled Phoenix admin dashboard, No need to take the burden of communicating directly. You can easily tell your customers where to find you with precise location map. Getting closer was never easier!</p>
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="mapbox-container rounded-3 border overflow-hidden mt-3 mb-6">
                                    <div id="mapbox" data-mapbox='{"attributionControl":false,"center":[-74.0020158,40.7228022],"zoom":14,"scrollZoom":false}' style="height: 381px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://smtpjs.com/v3/smtp.js"></script>
}

