
@{
    ViewBag.Title = "CUỘC THI Ý TƯỞNG KHỞI NGHIỆP SÁNG TẠO TỈNH BÌNH DƯƠNG NĂM 2024";
}

@section styles{
    <link href="~/vendors/choices/choices.min.css" rel="stylesheet">
    <link href="~/vendors/glightbox/glightbox.min.css" rel="stylesheet">
    <link href="~/vendors/mapbox-gl/mapbox-gl.css" rel="stylesheet">
}


@*Ảnh bị mờ, tìm cách fix*@
<div class="content pt-4">
    <div class="pb-3">
        <img class="rounded w-100 object-fit-fill mb-5 mb-md-6 mb-xl-8" style="max-height: 500px;min-height: 250px;" src="~/assets/img/event/banner_event_1.jpg" alt="" />
        <div class="row gx-lg-9">
            <div class="col-xl-12">
                <div class="card mb-9">
                    <div class="card-body">
                        <h1 class="lh-sm fs-7 fs-xxl-4 mb-2">🍀🍀 CUỘC THI Ý TƯỞNG KHỞI NGHIỆP SÁNG TẠO TỈNH BÌNH DƯƠNG NĂM 2024 🍀🍀</h1>
                        <p class="fs-8 mb-4 text-body-tertiary">Đơn vị tổ chức: Sở Khoa học và Công nghệ, Sở Giáo dục và Đào tạo, Tỉnh Đoàn Bình Dương</p>
                        <div class="card mb-5 mb-xxl-7">
                            <div class="card-body">
                                <div class="row gy-5">
                                    <div class="col-md-6 d-flex justify-content-between">
                                        <div>
                                            <div class="mb-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="px-2 py-1 bg-info-subtle rounded"><span class="text-info" data-feather="map-pin"></span></div>
                                                    <h5 class="ms-2 text-body-emphasis mb-0">Địa điểm</h5>
                                                </div>
                                            </div>
                                            <p class="lh-sm mb-0 text-body-tertiary">Tầng 11, Tháp A, Trung tâm Hành chính tỉnh Bình Dương</p>
                                        </div>
                                        <div class="my-4 mx-3 border-start border-translucent d-none d-md-block"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center">
                                                <div class="px-2 py-1 bg-primary-subtle rounded"><span class="text-primary" data-feather="clock"></span></div>
                                                <h5 class="ms-2 mb-0">Thời gian</h5>
                                            </div>
                                        </div>
                                        <p class="lh-sm mb-0 text-body-tertiary">13/03/2025 - 17/03/2025</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-12 col-md-auto flex-md-grow-1">
                                <button class="btn btn-primary w-100" type="button">Đăng Ký Tham Gia</button>
                            </div>
                            <div class="col-4 col-sm-auto flex-sm-grow-1 flex-md-grow-0">
                                <button class="btn btn-phoenix-primary w-100" type="button">
                                    <span class="fa-solid fa-eye me-2"></span>1233
                                </button>
                            </div>
                            <div class="col-4 col-sm-auto">
                                <button class="btn btn-phoenix-primary w-100" type="button">
                                    <span class="fa-solid fa-heart me-2"></span>3677
                                </button>
                            </div>
                            <div class="col-4 col-sm-auto">
                                <button class="btn btn-phoenix-primary w-100" type="button">
                                    <span class="fa-solid fa-share-nodes me-2"></span>4467
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="mb-3">Giới thiệu về sự kiện</h2>
                <div>
                    <p class="text-justify text-body-secondary">
                        <b>🍀🍀🍀 CUỘC THI Ý TƯỞNG KHỞI NGHIỆP SÁNG TẠO TỈNH BÌNH DƯƠNG NĂM 2024 🍀🍀🍀</b>
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>Đơn vị tổ chức: </b>Sở Khoa học và Công nghệ, Sở Giáo dục và Đào tạo, Tỉnh Đoàn Bình Dương
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Mục tiêu: </b>Thúc đẩy tinh thần khởi nghiệp trong đoàn viên thanh niên, trang bị kiến thức, kỹ năng khởi nghiệp cho thanh niên.
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Đối tượng: </b>học sinh, sinh viên tại các trường phổ thông, trung cấp, cao đẳng, đại học tại Bình Dương
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Lĩnh vực ưu tiên:</b>
                        <ol>
                            <li>Khoa học, công nghệ.</li>
                            <li>Công nghiệp, chế tạo sản phẩm.</li>
                            <li>Nông, lâm, ngư nghiệp.</li>
                            <li>Giáo dục, y tế, chăm sóc sức khỏe, công nghệ làm đẹp.</li>
                            <li>Dịch vụ, du lịch, tài chính, ngân hàng.</li>
                            <li>Kinh doanh tạo tác động xã hội.</li>
                        </ol>
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Tiêu chí đánh giá:</b>
                        <ol>
                            <li>Tính cần thiết của sản phẩm, dịch vụ</li>
                            <li>Tính độc đáo, sáng tạo, khác biệt</li>
                            <li>Tiềm năng tạo tác động đối với kinh tế - xã hội – môi trường</li>
                            <li>Giáo dục, y tế, chăm sóc sức khỏe, công nghệ làm đẹp.</li>
                            <li>Tính khả thi.</li>
                            <li>Kỹ năng trình bày.</li>
                        </ol>
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Hình thức tham gia: </b>Thí sinh nộp bản thuyết minh ý tưởng khởi nghiệp sáng tạo theo mẫu kèm video giới thiệu (nếu có) về Hội đồng Giám khảo thông qua đại diện tại các Huyện, Thành đoàn
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Vòng thi:</b> Cuộc thi gồm 4 vòng
                        <ol class="mb-6 ps-4">
                            <li>Truyền cảm hứng (từ 02/9-04/10/2024)</li>
                            <li>Sơ khảo (5/10-31/10)</li>
                            <li>Lan toả (5/11-20/11)</li>
                            <li>Chung kết 5/12/2024</li>
                        </ol>
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁🍁🍁Giải thưởng: </b> Tổng trị giá giải thưởng 150 triệu đồng và nhiều cơ hội hỗ trợ phát triển dự án
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>👉🖋Đơn đăng ký: </b>https://drive.google.com/.../1bEwQ2WcxyaVlag...
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>👉⏰Thời hạn đăng ký: </b>Từ 05/10/2024 đến 31/10/2024.
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>📔Thông tin chi tiết cuộc thi: </b>
                        <ol>
                            <li><b>🌍Website:</b> http://biic.vn/ytkn2024</li>
                            <li>
                                <b>💌 Hotline: </b>
                                <ul>
                                    <li>
                                        Chị Thơ Mộng: 0933.502.567
                                    </li>
                                    <li>
                                        Chị Thu Hà: 0908.898.818
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </p>
                </div>

                <h2 class="mb-3 fw-bold text-body-highlight fs-xxl-6">Đối tượng tham gia</h2>
                <div class="row g-1 g-sm-2 mb-7 mb-xxl-8">
                    <div class="col-12">
                        <a href="~/assets/img/event/doi_tuong_1.jpg" data-gallery="gallery-posts-undefined">
                            <img class="rounded h-100 w-100 object-fit-cover" src="~/assets/img/event/doi_tuong_1.jpg" alt="..." />
                        </a>
                    </div>
                </div>

                <h2 class="mb-3 fw-bold text-body-highlight fs-xxl-6">Sản phẩm dự thi</h2>
                <div class="row g-1 g-sm-2 mb-7 mb-xxl-8">
                    <div class="col-12">
                        <ul class="ps-4">
                            <li>Latest Update With Bitcoin</li>
                            <li>Blockchain Vs Bitcoin</li>
                            <li>Why Do We Need CryptoCurrency?</li>
                            <li>Bitcoin History</li>
                            <li>Bitcoin Vs Ethereum</li>
                            <li>How Big Is Cryptocurrency Right Now?</li>
                            <li>Crypto Scams &amp; How To Identify Them</li>
                            <li>Is it Worth Buying To Keep?</li>
                        </ul>
                    </div>
                </div>

                <h2 class="mb-3 fw-bold text-body-highlight fs-xxl-6">Lịch trình sự kiện</h2>
                <div class="row g-1 g-sm-2 mb-7 mb-xxl-8">
                    <div class="col-12">
                        <a href="~/assets/img/event/lich_trinh_1.jpg" data-gallery="gallery-posts-undefined">
                            <img class="rounded h-100 w-100 object-fit-cover" src="~/assets/img/event/lich_trinh_1.jpg" alt="..." />
                        </a>
                    </div>
                </div>

                <h2 class="mb-3 fw-bold text-body-highlight fs-xxl-6">Giải thưởng</h2>
                <div class="row g-1 g-sm-2 mb-7 mb-xxl-8">
                    <div class="col-12">
                        <a href="~/assets/img/event/giai_thuong_1.jpg" data-gallery="gallery-posts-undefined">
                            <img class="rounded h-100 w-100 object-fit-cover" src="~/assets/img/event/giai_thuong_1.jpg" alt="..." />
                        </a>
                    </div>
                </div>

                <h3 class="mb-3 fw-bold text-body-highlight fs-7">Chia sẻ cuộc thi</h3>
                <div class="d-flex mb-5">
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-brands fa-facebook text-facebbok"></span>
                    </button>
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-brands fa-facebook-messenger"></span>
                    </button>
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-brands fa-twitter text-info"></span>
                    </button>
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-solid fa-envelope text-danger"></span>
                    </button>
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-brands fa-linkedin-in text-info"></span>
                    </button>
                </div>
            </div>

            @*<div class="col-xl-4">
                    <div class="row g-0 py-3 border-bottom border-dashed align-items-end justify-content-between">
                        <div class="col-auto">
                            <h3 class="flex-1 mb-0 text-nowrap me-3">Sự kiện sắp tới</h3>
                        </div>
                    </div>
                    <div class="py-3 border-bottom border-translucent border-dashed">
                        <div class="d-flex flex-between-center">
                            <p class="text-warning fs-10 mb-0 fw-bold mb-1">Thứ 2, 11/06/2025 - 23/06/2025</p>
                            <div class="btn-reveal-trigger">
                                <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Report abuse</a></div>
                            </div>
                        </div><a class="text-primary-hover text-body-highlight fw-bold mb-2 line-clamp-1 me-5 lh-base" href="#!">Sự kiện sắp tới 1</a>
                        <p class="text-body-secondary fs-9 mb-2">Tổ chức bởi<br /><a class="fw-bold text-primary" href="#!">IAFM - International Academy of Tech</a></p>
                        <p class="fs-10 text-body-tertiary text-opacity-85">64 người đã xem</p>
                        <p class="fs-9 text-body-tertiary fw-bold mb-0">
                            <span class="fa-solid fa-map-marker-alt text-body-secondary me-1"></span>
                            Địa điểm tổ chức
                        </p>
                    </div>
                    <div class="py-3 border-bottom border-translucent border-dashed">
                        <div class="d-flex flex-between-center">
                            <p class="text-warning fs-10 mb-0 fw-bold mb-1">Thứ 2, 11/06/2025 - 23/06/2025</p>
                            <div class="btn-reveal-trigger">
                                <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Report abuse</a></div>
                            </div>
                        </div><a class="text-primary-hover text-body-highlight fw-bold mb-2 line-clamp-1 me-5 lh-base" href="#!">Sự kiện sắp tới 2</a>
                        <p class="text-body-secondary fs-9 mb-2">Tổ chức bởi<br /><a class="fw-bold text-primary" href="#!">IAFM - International Academy of Tech</a></p>
                        <p class="fs-10 text-body-tertiary text-opacity-85">64 người đã xem</p>
                        <p class="fs-9 text-body-tertiary fw-bold mb-0">
                            <span class="fa-solid fa-map-marker-alt text-body-secondary me-1"></span>
                            Địa điểm tổ chức
                        </p>
                    </div>
                    <div class="py-3 border-bottom border-translucent border-dashed">
                        <div class="d-flex flex-between-center">
                            <p class="text-warning fs-10 mb-0 fw-bold mb-1">Thứ 2, 11/06/2025 - 23/06/2025</p>
                            <div class="btn-reveal-trigger">
                                <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none d-flex btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                                <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Report abuse</a></div>
                            </div>
                        </div><a class="text-primary-hover text-body-highlight fw-bold mb-2 line-clamp-1 me-5 lh-base" href="#!">Sự kiện sắp tới 3</a>
                        <p class="text-body-secondary fs-9 mb-2">Tổ chức bởi<br /><a class="fw-bold text-primary" href="#!">IAFM - International Academy of Tech</a></p>
                        <p class="fs-10 text-body-tertiary text-opacity-85">64 người đã xem</p>
                        <p class="fs-9 text-body-tertiary fw-bold mb-0">
                            <span class="fa-solid fa-map-marker-alt text-body-secondary me-1"></span>
                            Địa điểm tổ chức
                        </p>
                    </div>
                </div>*@
        </div>
    </div>
</div>

@section scripts{
    <script src="~/vendors/choices/choices.min.js"></script>
    <script src="~/vendors/glightbox/glightbox.min.js"></script>
    <script src="~/vendors/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendors/isotope-packery/packery-mode.pkgd.min.js"></script>
    <script src="~/vendors/bigpicture/BigPicture.js"></script>
    <script src="~/vendors/countup/countUp.umd.js"></script>
}
