@{
    ViewBag.Title = "CUỘC THI Ý TƯỞNG KHỞI NGHIỆP SÁNG TẠO TỈNH BÌNH DƯƠNG NĂM 2024";
}

@section styles{
    <link href="~/vendors/choices/choices.min.css" rel="stylesheet">
    <link href="~/vendors/glightbox/glightbox.min.css" rel="stylesheet">
    <link href="~/vendors/mapbox-gl/mapbox-gl.css" rel="stylesheet">
    <link href="~/vendors/flatpickr/flatpickr.min.css" rel="stylesheet" />
    <link href="~/vendors/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/vendors/marquee/marqueeLogo.css" rel="stylesheet" />
}


@*Ảnh bị mờ, tìm cách fix*@
<div class="content pt-4 overflow-x-hidden">
    <div class="pb-3">
        <img class="rounded w-100 object-fit-fill mb-5 mb-md-6 mb-xl-8" style="max-height: 500px;min-height: 250px;" src="~/assets/img/generic/34.png" alt="" />
        <div class="row gx-lg-12">
            <div class="col-xl-12">
                <div class="card mb-9">
                    <div class="card-body">
                        <h1 class="lh-sm fs-7 fs-xxl-4 mb-2">🍀🍀 CUỘC THI Ý TƯỞNG KHỞI NGHIỆP SÁNG TẠO TỈNH BÌNH DƯƠNG NĂM 2024 NHANHTR 🍀🍀</h1>
                        <p class="fs-8 mb-4 text-body-tertiary">Đơn vị tổ chức: Sở Khoa học và Công nghệ, Sở Giáo dục và Đào tạo, Tỉnh Đoàn Bình Dương</p>
                        <div class="card mb-5 mb-xxl-7">
                            <div class="card-body">
                                <div class="row gy-5">
                                    <div class="col-md-6 d-flex justify-content-between">
                                        <div>
                                            <div class="mb-3">
                                                <div class="d-flex align-items-center">
                                                    <div class="px-2 py-1 bg-info-subtle rounded"><span class="text-info" data-feather="map-pin"></span></div>
                                                    <h5 class="ms-2 text-body-emphasis mb-0">Địa điểm</h5>
                                                </div>
                                            </div>
                                            <p class="lh-sm mb-0 text-body-tertiary">Tầng 11, Tháp A, Trung tâm Hành chính tỉnh Bình Dương</p>
                                        </div>
                                        <div class="my-4 mx-3 border-start border-translucent d-none d-md-block"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center">
                                                <div class="px-2 py-1 bg-primary-subtle rounded"><span class="text-primary" data-feather="clock"></span></div>
                                                <h5 class="ms-2 mb-0">Thời gian</h5>
                                            </div>
                                        </div>
                                        <p class="lh-sm mb-0 text-body-tertiary">13/03/2025 - 17/03/2025</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-12 col-md-auto flex-md-grow-1">
                                <button class="btn btn-primary w-100" type="button" data-bs-toggle="modal" data-bs-target="#kanbanAddTask">Đăng Ký Tham Gia</button>
                            </div>
                            <div class="col-4 col-sm-auto flex-sm-grow-1 flex-md-grow-0">
                                <button class="btn btn-phoenix-primary w-100" type="button">
                                    <span class="fa-solid fa-eye me-2"></span>1233
                                </button>
                            </div>
                            <div class="col-4 col-sm-auto">
                                <button class="btn btn-phoenix-primary w-100" type="button">
                                    <span class="fa-solid fa-heart me-2"></span>3677
                                </button>
                            </div>
                            <div class="col-4 col-sm-auto">
                                <button class="btn btn-phoenix-primary w-100" type="button">
                                    <span class="fa-solid fa-share-nodes me-2"></span>4467
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="mb-3">Giới thiệu về sự kiện</h2>
                <div>
                    <p class="text-justify text-body-secondary">
                        <b>🍀🍀🍀 CUỘC THI Ý TƯỞNG KHỞI NGHIỆP SÁNG TẠO TỈNH BÌNH DƯƠNG NĂM 2024 🍀🍀🍀</b>
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>Đơn vị tổ chức: </b>Sở Khoa học và Công nghệ, Sở Giáo dục và Đào tạo, Tỉnh Đoàn Bình Dương
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Mục tiêu: </b>Thúc đẩy tinh thần khởi nghiệp trong đoàn viên thanh niên, trang bị kiến thức, kỹ năng khởi nghiệp cho thanh niên.
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Đối tượng: </b>học sinh, sinh viên tại các trường phổ thông, trung cấp, cao đẳng, đại học tại Bình Dương
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Lĩnh vực ưu tiên:</b>
                        <ol>
                            <li>Khoa học, công nghệ.</li>
                            <li>Công nghiệp, chế tạo sản phẩm.</li>
                            <li>Nông, lâm, ngư nghiệp.</li>
                            <li>Giáo dục, y tế, chăm sóc sức khỏe, công nghệ làm đẹp.</li>
                            <li>Dịch vụ, du lịch, tài chính, ngân hàng.</li>
                            <li>Kinh doanh tạo tác động xã hội.</li>
                        </ol>
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Tiêu chí đánh giá:</b>
                        <ol>
                            <li>Tính cần thiết của sản phẩm, dịch vụ</li>
                            <li>Tính độc đáo, sáng tạo, khác biệt</li>
                            <li>Tiềm năng tạo tác động đối với kinh tế - xã hội – môi trường</li>
                            <li>Giáo dục, y tế, chăm sóc sức khỏe, công nghệ làm đẹp.</li>
                            <li>Tính khả thi.</li>
                            <li>Kỹ năng trình bày.</li>
                        </ol>
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Hình thức tham gia: </b>Thí sinh nộp bản thuyết minh ý tưởng khởi nghiệp sáng tạo theo mẫu kèm video giới thiệu (nếu có) về Hội đồng Giám khảo thông qua đại diện tại các Huyện, Thành đoàn
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁Vòng thi:</b> Cuộc thi gồm 4 vòng
                        <ol class="mb-6 ps-4">
                            <li>Truyền cảm hứng (từ 02/9-04/10/2024)</li>
                            <li>Sơ khảo (5/10-31/10)</li>
                            <li>Lan toả (5/11-20/11)</li>
                            <li>Chung kết 5/12/2024</li>
                        </ol>
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>🍁🍁🍁Giải thưởng: </b> Tổng trị giá giải thưởng 150 triệu đồng và nhiều cơ hội hỗ trợ phát triển dự án
                    </p>
                    <p class="text-body-secondary">
                        <b>👉🖋Đơn đăng ký: </b> <span>https://drive.google.com/.../1bEwQ2WcxyaVlag...</span>
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>👉⏰Thời hạn đăng ký: </b>Từ 05/10/2024 đến 31/10/2024.
                    </p>
                    <p class="text-justify text-body-secondary">
                        <b>📔Thông tin chi tiết cuộc thi: </b>
                        <ol>
                            <li><b>🌍Website:</b> http://biic.vn/ytkn2024</li>
                            <li>
                                <b>💌 Hotline: </b>
                                <ul>
                                    <li>
                                        Chị Thơ Mộng: 0933.502.567
                                    </li>
                                    <li>
                                        Chị Thu Hà: 0908.898.818
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </p>
                </div>

                <h2 class="mb-3 fw-bold text-body-highlight fs-xxl-6">Đối tượng tham gia</h2>
                <div class="row g-1 g-sm-2 mb-7 mb-xxl-8">
                    <div class="col-12">
                        <a href="~/assets/img/generic/34.png" data-gallery="gallery-posts-undefined">
                            <img class="rounded h-100 w-100 object-fit-cover" src="~/assets/img/generic/34.png" alt="..." />
                        </a>
                    </div>
                </div>

                <h2 class="mb-3 fw-bold text-body-highlight fs-xxl-6">Sản phẩm dự thi</h2>
                <div class="row g-1 g-sm-2 mb-7 mb-xxl-8">
                    <div class="col-12">
                        <ul class="ps-4">
                            <li>Latest Update With Bitcoin</li>
                            <li>Blockchain Vs Bitcoin</li>
                            <li>Why Do We Need CryptoCurrency?</li>
                            <li>Bitcoin History</li>
                            <li>Bitcoin Vs Ethereum</li>
                            <li>How Big Is Cryptocurrency Right Now?</li>
                            <li>Crypto Scams &amp; How To Identify Them</li>
                            <li>Is it Worth Buying To Keep?</li>
                        </ul>
                    </div>
                </div>

                <h2 class="mb-3 fw-bold text-body-highlight fs-xxl-6">Lịch trình sự kiện</h2>
                <div class="row g-1 g-sm-2 mb-7 mb-xxl-8">
                    <div class="col-12">
                        <a href="~/assets/img/generic/34.png" data-gallery="gallery-posts-undefined">
                            <img class="rounded h-100 w-100 object-fit-cover" src="~/assets/img/generic/34.png" alt="..." />
                        </a>
                    </div>
                </div>

                <h2 class="mb-3 fw-bold text-body-highlight fs-xxl-6">Giải thưởng</h2>
                <div class="row g-1 g-sm-2 mb-7 mb-xxl-8">
                    <div class="col-12">
                        <a href="~/assets/img/generic/34.png" data-gallery="gallery-posts-undefined">
                            <img class="rounded h-100 w-100 object-fit-cover" src="~/assets/img/generic/34.png" alt="..." />
                        </a>
                    </div>
                </div>

                <h3 class="mb-3 fw-bold text-body-highlight fs-7">Các đơn vị đồng hành cùng chương trình</h3>
                <div class="marquee-logo mb-5 px-3">
                    <div class="marquee-track">
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor1.png" alt="UBND Tỉnh Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor2.png" alt="Đoàn TNCS Hồ Chí Minh Tỉnh Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor3.png" alt="Sở KH&CN Tỉnh Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor4.png" alt="Hội Kỹ Sư Trẻ Tỉnh Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor5.jpg" alt="Cty Becamex" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor6.png" alt="Đài Truyền Hình Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor7.png" alt="Báo Bình Dương" loading="lazy"></div>
                        <!-- Lặp lại các logo để tạo hiệu ứng vô hạn-->
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor1.png" alt="UBND Tỉnh Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor2.png" alt="Đoàn TNCS Hồ Chí Minh Tỉnh Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor3.png" alt="Sở KH&CN Tỉnh Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor4.png" alt="Hội Kỹ Sư Trẻ Tỉnh Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor5.jpg" alt="Cty Becamex" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor6.png" alt="Đài Truyền Hình Bình Dương" loading="lazy"></div>
                        <div class="marquee-item"><img src="/assets/img/sponsors/sponsor7.png" alt="Báo Bình Dương" loading="lazy"></div>
                    </div>
                </div>

                <h3 class="mb-3 fw-bold text-body-highlight fs-7">Chia sẻ cuộc thi</h3>
                <div class="d-flex mb-5">
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-brands fa-facebook text-facebbok"></span>
                    </button>
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-brands fa-facebook-messenger"></span>
                    </button>
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-brands fa-twitter text-info"></span>
                    </button>
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-solid fa-envelope text-danger"></span>
                    </button>
                    <button class="btn btn-phoenix-primary btn-icon me-2">
                        <span class="fa-brands fa-linkedin-in text-info"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" data-bs-backdrop="static" id="kanbanAddTask" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body pb-0">
                <div class="row p-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-body-emphasis fw-semibold">Đăng ký dự thi</h3>
                        <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Đóng">
                            <span class="fas fa-times fs-10 me-1" data-fa-transform="up-1"></span>
                            Đóng
                        </button>
                    </div>
                    <div class="kanban-create-board row">
                        <div class="col-xxl-12 col-xl-12 col-12 pb-4 order-1 order-xl-0">
                            <div class="theme-wizard theme-wizard-progress" data-theme-wizard="data-theme-wizard" data-create-board="data-create-board" data-wizard-modal-disabled="data-wizard-modal-disabled">
                                <div class="mt-6 border-bottom-0">
                                    <p class="mb-0 text-body-secondary">Bước <span data-kanban-step="data-kanban-step">1 - Cung cấp thông tin người đăng ký</span></p>
                                    <ul class="nav justify-content-between nav-wizard nav-wizard-progress">
                                        <li class="nav-item"><a class="nav-link active fw-semibold" href="#create-board-tab1" data-bs-toggle="tab" data-wizard-step="1 - Cung cấp thông tin người đăng ký"></a></li>
                                        <li class="nav-item"><a class="nav-link fw-semibold" href="#create-board-tab2" data-bs-toggle="tab" data-wizard-step="2 - Cung cấp thông tin bài dự thi"></a></li>
                                        <li class="nav-item"><a class="nav-link fw-semibold" href="#create-board-tab3" data-bs-toggle="tab" data-wizard-step="3 - Đính kèm tệp dự thi"></a></li>
                                    </ul>
                                </div>
                                <div class="mt-6">
                                    <div class="pb-0">
                                        <div class="tab-content">
                                            <div class="tab-pane active" role="tabpanel" aria-labelledby="create-board-tab1" id="create-board-tab1">
                                                <p class="mb-4">Vui lòng nhập đầy đủ thông tin đăng ký cuộc thi!</p>
                                                <form id="createBoardForm1" novalidate="novalidate" data-wizard-form="1">
                                                    <div class="form-floating">
                                                        <input class="form-control" type="text" name="create-board-name" id="create-boardwizard-name" placeholder="Nhập họ và tên" />
                                                        <label for="create-boardwizard-name">Họ và tên</label>
                                                    </div>

                                                    <div class="form-floating mt-4">
                                                        <input class="form-control datetimepicker" id="floatingInputStartDate" type="text" placeholder="end date" data-options='{"disableMobile":true}' />
                                                        <label for="floatingInputStartDate">Ngày sinh</label>
                                                    </div>
                                                    <div class="form-floating mt-4">
                                                        <input class="form-control" type="text" name="create-board-name" id="create-boardwizard-name" placeholder="Nhập số điện thoại" />
                                                        <label for="create-boardwizard-name">Số điện thoại</label>
                                                    </div>
                                                    <div class="form-floating mt-4">
                                                        <input class="form-control" type="text" name="create-board-name" id="create-boardwizard-name" placeholder="Nhập địa chỉ Email" />
                                                        <label for="create-boardwizard-name">Địa chỉ Email</label>
                                                    </div>
                                                    <div class="form-floating mt-4">
                                                        <textarea class="form-control" placeholder="Địa chỉ" name="create-board-message" id="create-board-wizard-des" style="height: 128px"></textarea>
                                                        <label for="create-board-wizard-des">Địa chỉ</label>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" aria-labelledby="create-board-tab2" id="create-board-tab2">
                                                <p class="mb-4">Vui lòng cung cấp thông tin bài dự thi</p>
                                                <form id="createBoardForm2" novalidate="novalidate" data-wizard-form="2">
                                                    <div class="form-floating mt-4">
                                                        <select class="form-select" name="create-board-type" id="create-boardwizard-type">
                                                            <option selected="selected" disabled="disabled" value="">Chọn lĩnh vực sáng kiến</option>
                                                            <option value="1">technical</option>
                                                            <option value="2">external</option>
                                                            <option value="3">organizational</option>
                                                        </select>
                                                        <label for="create-boardwizard-type">Lĩnh vực sáng kiến</label>
                                                    </div>
                                                </form>
                                                <div class="form-floating mt-4">
                                                    <textarea class="form-control" placeholder="Mô tả sáng kiến" name="create-board-message" id="create-board-wizard-des" style="height: 128px"></textarea>
                                                    <label for="create-board-wizard-des">Mô tả sáng kiến</label>
                                                </div>
                                            </div>
                                            <div class="tab-pane" role="tabpanel" aria-labelledby="create-board-tab3" id="create-board-tab3">
                                                <p class="mb-4">Đính kèm bài dự thi của bạn (chấp nhận các định dạng file pdf, docx, jpg/png, mp4 với dung lượng tối đa từng file là 20MB)</p>
                                                <form id="createBoardForm3" novalidate="novalidate" data-wizard-form="3">
                                                    <div class="col-12">
                                                        <input class="btn-check kanban-swatch-radio" type="radio" name="board-custom-image" id="boardCustomImage" />
                                                        <div class="dropzone dropzone-single p-0 w-100" id="dropzone" data-dropzone="data-dropzone" data-options='{"url":"valid/url","maxFiles":1,"maxFilesize":5,"acceptedFiles":"image/*","dictDefaultMessage":"Choose or Drop a file here"}'>
                                                            <div class="fallback"><input type="file" name="file" /></div>
                                                            <div class="dz-message text-body-tertiary text-opacity-85 text-center py-0" data-dz-message="data-dz-message">
                                                                <div class="dz-message-text py-3">allow: pdf, docx, jpg/png, mp4<br /><img class="mt-3" src="../../assets/img/icons/image-icon.png" width="30" alt="" /></div><button class="btn dz-upload-btn border-0 position-absolute z-5 bg-black bg-opacity-50 text-white mt-3 ms-3 px-3" data-dz-message="data-dz-message">Change Picture<span class="fa-solid fa-camera fs-10 ms-1"></span></button>
                                                            </div>
                                                            <div class="dz-preview m-0">
                                                                <div class="rounded-2 position-relative" style="height: 144px">
                                                                    <input class="btn-check kanban-swatch-radio kanban-custom-bg-radio" type="radio" value="kanban-custom-bg" name="board-img" id="kanban-custom-bg" /><label class="kanban-radio-bg-image w-100 h-100" for="kanban-custom-bg"><img class="rounded-2 w-100 h-100 object-fit-cover" src="~/assets/img/icons/file-bg.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" /></label><button class="btn border-0 position-absolute top-0 end-0 z-5 bg-black bg-opacity-50 text-white mt-3 me-3 px-3 cursor-pointer" data-dz-remove="data-dz-remove"><span class="fa-solid fa-xmark cursor-pointer"></span></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="border-bottom border-translucent d-flex flex-row pb-3 mt-3">
                                                            <div class="border border-translucent rounded-3 flex-center d-flex" style="width:64px; height: 64px">
                                                                <div class="fa-solid fa-file-zipper fa-2x text-body-quaternary text-opacity-75"></div>
                                                            </div>
                                                            <div class="flex-1 ms-3 d-flex flex-column">
                                                                <h5 class="lh-sm">All_images.zip</h5>
                                                                <p class="lh-1 fs-9 text-body-tertiary fw-medium mb-0">21st Decemver, 12:56 PM</p>
                                                                <div class="d-flex text-body-tertiary mt-auto">
                                                                    <button class="btn p-0 fs-8 text-body-tertiary me-3">
                                                                        <span class="fas fa-comment" data-fa-transform="shrink-4"></span>
                                                                    </button>
                                                                    <button class="btn p-0 fs-8 text-body-tertiary me-3">
                                                                        <span class="fas fa-trash" data-fa-transform="shrink-4"></span>
                                                                    </button>
                                                                    <button class="btn p-0 fs-8 text-body-tertiary">
                                                                        <span class="fas fa-pencil" data-fa-transform="shrink-4"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="border-top-0 mt-10">
                                                    <div class="d-flex pager wizard list-inline mb-0">
                                                        <button class="btn btn-link ps-0" type="button" data-board-prev-btn="data-board-prev-btn"><span class="fas fa-chevron-left me-1" data-fa-transform="shrink-3"></span>Bước trước đó</button>
                                                        <div class="flex-1 text-end">
                                                            <button class="btn btn-primary px-6 px-sm-6" type="submit">Đăng ký dự thi<span class="fas fa-chevron-right ms-1" data-fa-transform="shrink-3"> </span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top-0 mt-10" data-wizard-footer="data-wizard-footer">
                                    <div class="d-flex pager wizard list-inline mb-0">
                                        <button class="d-none btn btn-link ps-0" type="button" data-wizard-prev-btn="data-wizard-prev-btn"><span class="fas fa-chevron-left me-1" data-fa-transform="shrink-3"></span>Bước trước đó</button>
                                        <div class="flex-1 text-end">
                                            <button class="btn btn-primary px-6 px-sm-6" type="submit" data-wizard-next-btn="data-wizard-next-btn">Bước kế tiếp<span class="fas fa-chevron-right ms-1" data-fa-transform="shrink-3"> </span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/vendors/choices/choices.min.js"></script>
    <script src="~/vendors/glightbox/glightbox.min.js"></script>
    <script src="~/vendors/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendors/isotope-packery/packery-mode.pkgd.min.js"></script>
    <script src="~/vendors/bigpicture/BigPicture.js"></script>
    <script src="~/vendors/countup/countUp.umd.js"></script>
    <script src="~/vendors/flatpickr/flatpickr.min.js"></script>
    <script src="~/vendors/dropzone/dropzone-min.js"></script>
    <script src="~/vendors/marquee/marqueeLogo.js"></script>
}
