@{
    ViewBag.Title = "Home Page";
}

<section class="bg-body-emphasis pb-4 mb-4" id="home">
    <div class="container-small hero-header-container px-lg-7 px-xxl-3">
        <div class="row align-items-center">
            <div class="col-12 col-lg-auto order-0 order-md-1 text-end order-1">
                <div class="position-relative p-5 p-md-7 d-lg-none">
                    <div class="bg-holder" style="background-image:url(/assets/img/bg/bg-23.png);background-size:contain;"></div>
                    <div class="position-relative">
                        <img class="w-100 shadow-lg d-dark-none rounded-2" src="~/assets/img/system/default_banner.jpg" alt="hero-header" />
                        <img class="w-100 shadow-lg d-light-none rounded-2" src="~/assets/img/system/default_banner.jpg" alt="hero-header" />
                    </div>
                </div>
                <div class="hero-image-container position-absolute top-0 bottom-0 end-0 d-none d-lg-block">
                    <div class="position-relative h-100 w-100">
                        <div class="position-absolute h-100 top-0 d-flex align-items-center end-0 hero-image-container-bg">
                            <img class="pt-7 pt-md-0 w-100" src="~/assets/img/bg/bg-1-2.png" alt="hero-header" />
                        </div>
                        <div class="position-absolute h-100 top-0 d-flex align-items-center end-0">
                            <img class="pt-7 pt-md-0 w-100 shadow-lg d-dark-none rounded-2" src="~/assets/img/system/default_banner.jpg" alt="hero-header" />
                            <img class="pt-7 pt-md-0 w-100 shadow-lg d-light-none rounded-2" src="~/assets/img/system/default_banner.jpg" alt="hero-header" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-lg-start text-center order-0 position-relative">
                <h1 class="fs-3 fs-lg-2 fs-md-1 fs-lg-2 fs-xl-1 fs fw-black mb-4">Trung tâm Sáng kiến cộng đồng và Hỗ trợ khởi nghiệp (BIIC)</h1>
                <p class="mb-5">Trung tâm Sáng kiến cộng đồng và Hỗ trợ khởi nghiệp (BIIC)</p>
            </div>
        </div>
    </div>
</section>

<!-- Logo nhà tài trợ (nếu cần thì thêm vào đây) -->
<!-- <section class="py-5 pt-xl-13 bg-body-emphasis">
    <div class="container-small px-lg-7 px-xxl-3">
    <div class="row g-0">
        <div class="col-6 col-md-3">
        <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end"><img class="w-100" src="~/assets/img/brand2/netflix-n.png" alt="" /></div>
        </div>
        <div class="col-6 col-md-3">
        <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-md"><img class="w-100" src="~/assets/img/brand2/blender.png" alt="" /></div>
        </div>
        <div class="col-6 col-md-3">
        <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end border-end-md"><img class="w-100" src="~/assets/img/brand2/upwork.png" alt="" /></div>
        </div>
        <div class="col-6 col-md-3">
        <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-lg-0"><img class="w-100" src="~/assets/img/brand2/facebook-f.png" alt="" /></div>
        </div>
        <div class="col-6 col-md-3">
        <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-bottom border-translucent border-bottom-md-0"><img class="w-100" src="~/assets/img/brand2/pocket.png" alt="" /></div>
        </div>
        <div class="col-6 col-md-3">
        <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-md border-bottom border-translucent border-bottom-md-0"><img class="w-100" src="~/assets/img/brand2/mail-bluster-1.png" alt="" /></div>
        </div>
        <div class="col-6 col-md-3">
        <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-translucent"><img class="w-100" src="~/assets/img/brand2/discord.png" alt="" /></div>
        </div>
        <div class="col-6 col-md-3">
        <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-lg-0 border-translucent"><img class="w-100" src="~/assets/img/brand2/google-g.png" alt="" /></div>
        </div>
    </div>
    </div>
</section> -->
<!-- Bài viết, thông báo, tin tức mới nhất hoặc sự kiện, cuộc thi (còn thời gian đăng ký)  -->
<!-- <section class="pb-0 bg-body-emphasis overflow-hidden position-static mb-8">
    <div class="container-small px-lg-7 px-xxl-3">
      <div class="row">
        <div class="col-lg-6 mb-6 text-center text-lg-start z-2">
          <h2 class="text-primary fw-bolder mb-3">Bài viết, tin tức nổi bật ở đây</h2>
          <h4 class="mb-3 text-body-emphasis">More than 2 Millions happy<br />Customers and counting</h4>
          <p class="mb-5">You may now concentrate on the functionality and other <br class="d-none d-sm-block" />aspects of your web products thanks to Phoenix's strength<br class="d-none d-sm-block" />before leaving the UI design to us. It is simple to complete<br class="d-none d-sm-block" />the work after checking and double-checking.</p>
        </div>
        <div class="col-lg-6 z-2">
          <div class="carousel slide" id="carouselExampleIndicators" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                  <div class="col-lg-6 col-xl-5 text-center">
                    <div class="testimonial-avatar-container d-inline-block position-relative">
                      <div class="bg-holder" style="background-image:url(/assets/img/bg/bg-2.png);background-size:contain;"></div>
                      <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="~/assets/img/blog/blog-1.png" width="153" height="153" alt="" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                    <div class="mb-4" data-bs-theme="light"><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span></div>
                    <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">Brilliant app! Will definitely going to be my first choice starting from today</h3>
                    <h6>Monica Gomez</h6>
                    <h6 class="fw-normal">UX designer, Google</h6>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                  <div class="col-lg-6 col-xl-5 text-center">
                    <div class="testimonial-avatar-container d-inline-block position-relative">
                      <div class="bg-holder" style="background-image:url(/assets/img/bg/bg-2.png);background-size:contain;"></div>

                      <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="~/assets/img/blog/blog-2.png" width="154" alt="" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                    <div class="mb-4" data-bs-theme="light"><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span></div>
                    <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">“Excellent to work with and comfortable to customize. This is what I was looking for till the date!”</h3>
                    <h6>Marc Chiasson</h6>
                    <h6 class="fw-normal">UX designer, Adobe</h6>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                  <div class="col-lg-6 col-xl-5 text-center">
                    <div class="testimonial-avatar-container d-inline-block position-relative">
                      <div class="bg-holder" style="background-image:url(/assets/img/bg/bg-2.png);background-size:contain;"></div>

                      <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="~/assets/img/blog/blog-3.png" width="154" alt="" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                    <div class="mb-4" data-bs-theme="light"><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span></div>
                    <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">“Phoenix is all you can ask for. This is perfect fit for everything you might want to work on!”</h3>
                    <h6>Axel Barry</h6>
                    <h6 class="fw-normal">UX designer, Apple</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> -->
<!-- Danh sách bài viết, tin tức,... -->
<section class="bg-body-emphasis" id="blog">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="mb-4 text-center text-sm-start">
            <h2 class="text-primary fw-bolder mb-3">Danh sách bài viết, tin tức ở đây (Chỉnh lại sao cho hợp lý)</h2>
        </div>
        <div class="row h-100 g-3 justify-content-center">
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100">
                    <img class="rounded-top h-100 object-fit-cover" src="~/assets/img/blog/blog-1.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">125</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">125</span></a></div>
                        </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Tin tức</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Top 10 ways to Ace SEO for your business</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100">
                    <img class="rounded-top h-100 object-fit-cover" src="~/assets/img/blog/blog-2.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">1256</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">32</span></a></div>
                        </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Sự kiện</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Top 12 Marketing strategies you can take</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100">
                    <img class="rounded-top h-100 object-fit-cover" src="~/assets/img/blog/blog-3.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">142</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">123</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">22</span></a></div>
                        </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Thông báo</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">The top 7 methods to improve as a marketer</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100">
                    <img class="rounded-top h-100 object-fit-cover" src="~/assets/img/blog/blog-4.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">112</span></a></div>
                        </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Cuộc thi</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Best places for a tech job in U.S</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100">
                    <img class="rounded-top h-100 object-fit-cover" src="~/assets/img/blog/blog-4.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">112</span></a></div>
                        </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Cuộc thi</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Best places for a tech job in U.S</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100">
                    <img class="rounded-top h-100 object-fit-cover" src="~/assets/img/blog/blog-4.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">112</span></a></div>
                        </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Cuộc thi</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Best places for a tech job in U.S</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100">
                    <img class="rounded-top h-100 object-fit-cover" src="~/assets/img/blog/blog-4.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">112</span></a></div>
                        </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Cuộc thi</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Best places for a tech job in U.S</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100">
                    <img class="rounded-top h-100 object-fit-cover" src="~/assets/img/blog/blog-4.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">112</span></a></div>
                        </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Cuộc thi</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Best places for a tech job in U.S</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-6"><a class="btn btn-outline-primary" href="#!">View All<span class="fa-solid fa-angle-right ms-2"></span></a></div>
    </div>
</section>

<div class="modal fade" id="top-event-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="top-event-modal" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content bg-body-highlight p-0">
            <div class="modal-body p-0 w-100 position-relative">
                <button class="btn btn-sm position-absolute z-3" style="right: 0; top: 0;" data-bs-dismiss="modal" aria-label="Close">
                    <span class="fas fa-times text-danger"></span>
                </button>

                <div id="event-carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="hoverbox rounded w-100">
                                <img class="img-fluid w-100 rounded" src="~/assets/img/event/banner_event_1.jpg" alt="Banner 1" />
                                <div class="backdrop-faded">
                                    <div class="d-sm-flex d-md-block d-lg-flex flex-between-center">
                                        <div class="d-flex gap-3 justify-content-end w-100">
                                            <h5 class="text-secondary-lighter fw-normal">
                                                <span class="fa-solid fa-clock fs-9 me-2"></span>2 days
                                            </h5>
                                            <h5 class="text-secondary-lighter fw-normal">
                                                <span class="fa-solid fa-user fs-9 me-2"></span>From 1 to people
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="hoverbox rounded w-100">
                                <img class="img-fluid rounded w-100" src="~/assets/img/event/banner_event_1.jpg" alt="Banner 2" />
                                <div class="backdrop-faded">
                                    <div class="d-sm-flex d-md-block d-lg-flex flex-between-center">
                                        <div class="d-flex gap-3 justify-content-end w-100">
                                            <h5 class="text-secondary-lighter fw-normal">
                                                <span class="fa-solid fa-clock fs-9 me-2"></span>2 days
                                            </h5>
                                            <h5 class="text-secondary-lighter fw-normal">
                                                <span class="fa-solid fa-user fs-9 me-2"></span>From 1 to people
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="hoverbox rounded w-100">
                                <img class="img-fluid rounded w-100" src="~/assets/img/event/banner_event_1.jpg" alt="Banner 3" />
                                <div class="backdrop-faded">
                                    <div class="d-sm-flex d-md-block d-lg-flex flex-between-center">
                                        <div class="d-flex gap-3 justify-content-end w-100">
                                            <h5 class="text-secondary-lighter fw-normal">
                                                <span class="fa-solid fa-clock fs-9 me-2"></span>2 days
                                            </h5>
                                            <h5 class="text-secondary-lighter fw-normal">
                                                <span class="fa-solid fa-user fs-9 me-2"></span>From 1 to people
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#event-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#event-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/vendors/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendors/isotope-packery/packery-mode.pkgd.min.js"></script>
    <script src="~/vendors/bigpicture/BigPicture.js"></script>
    <script src="~/vendors/countup/countUp.umd.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () {
            const modal = new bootstrap.Modal(document.getElementById('top-event-modal'));
            modal.show();
        });
    </script>
}
