.errorpage.e404 {
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px
}

    .errorpage.e404 .image {
        width: 625px;
        height: 314px;
        background: url(/assets/img/icons/404.png) no-repeat 50%;
        background-size: cover;
        position: relative;
        margin: auto
    }

    .errorpage.e404 .ufo {
        width: 70px;
        height: 59px;
        background: url(/assets/img/icons/ufo.png) no-repeat 50%;
        background-size: cover;
        position: absolute;
        top: 70px;
        right: 47px;
        -webkit-animation: floatingOvni 1.5s ease-in-out infinite;
        -moz-animation: floatingOvni ease-in-out 1.5s infinite;
        animation: floatingOvni 1.5s ease-in-out infinite
    }

    .errorpage.e404 .alien {
        width: 13px;
        height: 21px;
        background: url(/assets/img/icons/alien.png) no-repeat 50%;
        background-size: cover;
        position: absolute;
        bottom: 97px;
        right: -2px;
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-animation: alien .3s linear infinite;
        -moz-animation: alien linear .3s infinite;
        animation: alien .3s linear infinite
    }

    .errorpage.e404 .estela {
        width: 40px;
        height: 3px;
        background: url(/assets/img/icons/estela.png) no-repeat 50%;
        background-size: cover;
        position: absolute;
        bottom: 76px;
        left: 144px;
        -webkit-animation: estela 1s ease-in-out infinite;
        -moz-animation: estela ease-in-out 1s infinite;
        animation: estela 1s ease-in-out infinite
    }

        .errorpage.e404 .estela:after {
            content: "";
            display: block;
            width: 20px;
            height: 3px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #072f3d;
            background-image: -webkit-linear-gradient(right,#072f3d,transparent);
            background-image: linear-gradient(270deg,#072f3d,transparent);
            background-color: transparent
        }

    .errorpage.e404 .satellite-container {
        width: 0;
        height: 100px;
        top: 108px;
        left: 20px;
        position: absolute;
        -webkit-animation: rotate 2s linear infinite;
        -moz-animation: rotate linear 2s infinite;
        animation: rotate 2s linear infinite
    }

    .errorpage.e404 .satellite {
        width: 65px;
        height: 65px;
        background: url(/assets/img/icons/satellite.png) no-repeat 50%;
        background-size: cover;
        position: relative;
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-animation: rotateInverse 2s linear infinite;
        -moz-animation: rotateInverse linear 2s infinite;
        animation: rotateInverse 2s linear infinite
    }

    .errorpage.e404 h1 {
        color: #142a5e;
        font-size: 24px;
        margin: 30px 0 50px
    }

    .errorpage.e404 h1, .errorpage.e404 h3 {
        font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif
    }

    .errorpage.e404 h3 {
        font-size: 17px;
        line-height: 1.6
    }

    .errorpage.e404 p {
        margin-top: 20px
    }

@media screen and (max-width:768px) {
    .errorpage.e404 {
        padding: 20px
    }

        .errorpage.e404 .image {
            width: 320px;
            height: 161px
        }

        .errorpage.e404 .alien, .errorpage.e404 .estela, .errorpage.e404 .mask, .errorpage.e404 .satellite-container, .errorpage.e404 .ufo {
            display: none
        }
}



@-webkit-keyframes floatingOvni {
    0% {
        -webkit-transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(40px)
    }

    to {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes floatingOvni {
    0% {
        -moz-transform: translateY(0)
    }

    50% {
        -moz-transform: translateY(40px)
    }

    to {
        -moz-transform: translateY(0)
    }
}

@keyframes floatingOvni {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px)
    }

    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

.errorpage.e500 {
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px
}

    .errorpage.e500 .image {
        width: 606px;
        height: 326px;
        background: url(/assets/img/icons/500.png) no-repeat 50%;
        background-size: cover;
        position: relative;
        margin: auto;
        overflow: hidden
    }

    .errorpage.e500 .ufo {
        width: 65px;
        height: 65px;
        background: url(/assets/img/icons/ufo-500.png) no-repeat 50%;
        background-size: cover;
        position: absolute;
        top: 274px;
        right: 63px;
        -webkit-animation: floatingOvni 1.5s ease-in-out infinite;
        -moz-animation: floatingOvni ease-in-out 1.5s infinite;
        animation: floatingOvni 1.5s ease-in-out infinite
    }

    .errorpage.e500 .alien {
        width: 13px;
        height: 21px;
        background: url(/assets/img/icons/alien-500.png) no-repeat 50%;
        background-size: cover;
        position: absolute;
        bottom: 40px;
        right: 522px;
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-animation: alien .3s linear infinite;
        -moz-animation: alien linear .3s infinite;
        animation: alien .3s linear infinite
    }

    .errorpage.e500 .satellite-container {
        width: 0;
        height: 100px;
        top: 108px;
        left: 20px;
        position: absolute;
        -webkit-animation: rotate 2s linear infinite;
        -moz-animation: rotate linear 2s infinite;
        animation: rotate 2s linear infinite
    }

    .errorpage.e500 .satellite {
        width: 65px;
        height: 65px;
        background: url(/assets/img/icons/satellite-500.png) no-repeat 50%;
        background-size: cover;
        position: relative;
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-animation: rotateInverse 2s linear infinite;
        -moz-animation: rotateInverse linear 2s infinite;
        animation: rotateInverse 2s linear infinite
    }

    .errorpage.e500 h1 {
        color: #142a5e;
        font-size: 24px;
        margin: 30px 0 50px
    }

    .errorpage.e500 h3 {
        font-size: 18px;
        line-height: 1.8
    }

    .errorpage.e500 p {
        margin-top: 20px
    }

    .errorpage.e500 .mask {
        width: 135px;
        height: 9px;
        background: url(/assets/img-mask.svg) no-repeat 50%;
        background-size: cover;
        position: absolute;
        bottom: 0;
        right: 30px
    }

@media screen and (max-width:768px) {
    .errorpage.e500 {
        padding: 20px
    }

        .errorpage.e500 .image {
            width: 320px;
            height: 172px
        }

        .errorpage.e500 .alien, .errorpage.e500 .mask, .errorpage.e500 .satellite-container, .errorpage.e500 .ufo {
            display: none
        }
}

@-webkit-keyframes alien {
    0% {
        -webkit-transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(10deg)
    }

    to {
        -webkit-transform: rotate(0deg)
    }
}

@-moz-keyframes alien {
    0% {
        -moz-transform: rotate(0deg)
    }

    50% {
        -moz-transform: rotate(10deg)
    }

    to {
        -moz-transform: rotate(0deg)
    }
}

@keyframes alien {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    50% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes easeInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes estela {
    0% {
        background-position: -40px 0
    }

    to {
        background-position: 40px 0
    }
}

@-moz-keyframes estela {
    0% {
        background-position: -40px 0
    }

    to {
        background-position: 40px 0
    }
}

@keyframes estela {
    0% {
        background-position: -40px 0
    }

    to {
        background-position: 40px 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes floating {
    0% {
        transform: translateY(-10px)
    }

    50% {
        transform: translateY(10px)
    }

    to {
        transform: translateY(-10px)
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn)
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(1turn)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes rotateInverse {
    0% {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn)
    }
}

@-moz-keyframes rotateInverse {
    0% {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(-1turn)
    }
}

@keyframes rotateInverse {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn);
        -moz-transform: rotate(-1turn);
        -ms-transform: rotate(-1turn);
        -o-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}


.bj-button {
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0 30px;
    min-width: 44px;
    height: 44px;
    font-size: 15px;
    line-height: 44px;
    transition: .25s linear;
    background: #336aea;
    color: #fff;
}

.bj-button--green {
    background: #44b678;
    color: #fff;
}

.errorpage.e404 h1 {
    color: #142a5e;
    font-size: 24px;
    margin: 30px 0 50px
}

.errorpage.e404 h1, .errorpage.e404 h3 {
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif
}

.errorpage.e404 h3 {
    font-size: 17px;
    line-height: 1.6
}

.errorpage.e404 p {
    margin-top: 20px;
}

.link--normal {
    font-weight: 600;
    color: #286d34;
}

.link, a {
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

a {
    background-color: transparent;
}


@media screen and (max-width:768px) {
    .errorpage.e404 {
        padding: 20px
    }

        .errorpage.e404 .image {
            width: 320px;
            height: 161px
        }

        .errorpage.e404 .alien, .errorpage.e404 .estela, .errorpage.e404 .mask, .errorpage.e404 .satellite-container, .errorpage.e404 .ufo {
            display: none
        }
}

.errorpage.e500 h1, .errorpage.e500 h3 {
    font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.errorpage.e500 h1 {
    color: #142a5e;
    font-size: 24px;
    margin: 30px 0 50px;
}

