@using BIIC_Contest.Constants
@{
    ViewBag.Title = "";
    Layout = null;
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="~/assets/img/icons/favicon.jpg">

    <title>BIIC - Hệ thống đang gặp vấn đề!</title>

    <link href="~/assets/css/404-500.css" rel="stylesheet" />

</head>
<body style="overflow: hidden; padding-top: 10px">
    <div class="errorpage e500">
        <div class="image">
            <div class="alien"></div>
            <div class="ufo"></div>
            <div class="estela"></div>
            <div class="satellite-container">
                <div class="satellite"></div>
            </div>
        </div>
        <h1>Chức năng bị vô hiệu hóa</h1>
        <h3>Trang này đã bị quản trị viên vô hiệu hóa.<br> Hãy quay lại sau nhé.</h3>
        <a href="@RouteConstant.HOME_PAGE" class="bj-button bj-button--green">Trang chủ</a>
        <p>Nếu bạn có thắc mắc về lỗi này và cần được hỗ trợ, hãy liên hệ với chúng tôi tại <br><a href="mailto:anvohoang98@gmail.com" class="link--normal">anvohoang98@gmail.com</a></p>
    </div>
</body>
</html>

